In [30]:
#Assignment 2 for Statistics for Data Science
#MATH37198 - Ryan Sneyd
import numpy as np
import pandas as pd
from random import randint

#initialize lists for data entry
prizeList = []
initialList = []
revealedList1 = []
revealedList2 = []
finalList = []

#add numbers to lists 10000 times
for i in range(0, 10000):
    #Create random values for each list
    randomPrize = randint(1, 4)
    randomInitial = randint(1, 4)
    randomRevealed1 = randint(1, 4)
    randomRevealed2 = randint(1, 4)
    randomFinal = randint(1, 4)
    #Check to make sure all values in table are different
    stopCheck = True
    while (stopCheck):
        #Make sure the doors revealed1 is different from initial and final
        if  randomRevealed1 == randomInitial or randomRevealed1 == randomFinal:
            #if true make a new revealed1 value
            randomRevealed1 = randint(1, 4)
        #Make sure the doors revealed2 is different from initial and final
        elif  randomRevealed2 == randomInitial or randomRevealed2 == randomFinal:
            #if true make a new revealed2 value
            randomRevealed2 = randint(1, 4)
        #Make sure revealed1 is different from revealed2
        elif randomRevealed1 == randomRevealed2:
            #if true make a new revealed1 value
            randomRevealed1 = randint(1, 4)
            #if true make a new revealed2 value
            randomRevealed2 = randint(1, 4)
        else:
            #Finally make sure the prize does not equal revealed
            if randomPrize == randomRevealed1 or randomPrize == randomRevealed2:
                #if true make a new prize value
                randomPrize = randint(1, 4)
            #If everything works break out of loop
            else:
                stopCheck = False
    
    
    #add all values to lists
    prizeList.append(randomPrize)
    initialList.append(randomInitial)
    revealedList1.append(randomRevealed1)
    revealedList2.append(randomRevealed2)
    finalList.append(randomFinal)
#convert list in nparray beacues it is easier to insert into dataframe
pl = np.asarray(prizeList)   
il = np.asarray(initialList)  
rl1 = np.asarray(revealedList1)  
rl2 = np.asarray(revealedList2)  
fl = np.asarray(finalList)  
#create dataframe and add values
data = pd.DataFrame({"Prize" : pl, "Initial" : il, "Revealed1" : rl1, "Revelaed2" : rl2, "Final" : fl})
#output data
data

      Final  Initial  Prize  Revealed1  Revelaed2
0         3        3      1          2          4
1         1        1      1          4          3
2         2        1      1          4          3
3         4        2      2          1          3
4         1        4      1          3          2
5         1        3      3          4          2
6         1        2      2          4          3
7         3        1      3          2          4
8         1        2      2          3          4
9         2        4      4          3          1
10        3        3      2          1          4
11        4        1      4          2          3
12        2        4      4          1          3
13        1        2      1          4          3
14        1        2      2          3          4
15        3        2      3          1          4
16        2        3      2          4          1
17        3        2      2          4          1
18        4        3      4          2          1
19        3        3      3          4          2
20        2        1      1          3          4
21        1        3      3          4          2
22        2        4      4          3          1
23        4        1      4          2          3
24        3        1      1          4          2
25        2        4      2          1          3
26        2        4      2          1          3
27        3        3      4          1          2
28        3        1      3          4          2
29        4        3      4          2          1
...     ...      ...    ...        ...        ...
9970      4        4      3          1          2
9971      4        2      4          3          1
9972      1        3      1          4          2
9973      4        2      4          1          3
9974      3        1      3          4          2
9975      1        2      2          3          4
9976      2        2      4          3          1
9977      1        4      4          3          2
9978      4        3      4          1          2
9979      3        4      4          1          2
9980      3        3      3          1          2
9981      2        3      3          1          4
9982      1        1      4          2          3
9983      1        4      4          3          2
9984      2        3      3          1          4
9985      3        2      3          4          1
9986      2        2      2          1          4
9987      3        2      3          4          1
9988      1        3      1          4          2
9989      3        1      1          2          4
9990      1        1      1          2          4
9991      1        3      3          2          4
9992      2        3      2          4          1
9993      1        2      1          4          3
9994      3        1      3          4          2
9995      4        4      1          3          2
9996      1        3      1          4          2
9997      3        3      3          2          4
9998      4        1      4          3          2
9999      2        3      3          4          1

[10000 rows x 5 columns]

In [32]:
#What is the probability of a contestant winning given the contestant always switches doors
#Set a variable to count where the contestant switched doors
switchedCounter = 0
#Set a variable to count where the switches and wins
winCounter = 0
#For every vale in the table
for i in range(1, len(data)):
    #If the contestant switches and wins
    if data["Initial"].values.item(i) != data["Final"].values.item(i) and data["Prize"].values.item(i) == data["Final"].values.item(i):
        winCounter += 1
        #If the contestant switches 
    if data["Prize"].values.item(i) != data["Final"].values.item(i):
        switchedCounter += 1
        
#Total number of time switched
total = winCounter/switchedCounter

#Output
print("The percentage of trials the contestant wins by switching doors is: " + str(round((total)*100, 2))+"%")

The percentage of trials the contestant wins by switching doors is: 74.49%